*.o
*.a
*.d
*.exe
.depend
.deps
.dirstamp

/aclocal.m4
/autom4te.cache
/Makefile.in
/Makefile
/confdefs.h
/configure.scan
/config.status
/config.guess
/config.sub
/config.h.*
/depcomp
/install-sh
/missing
/autoscan.log
/stamp-h1
/build
/conftest*

/config.h
/config.mak
/config.log
/configure
/mpv
/mpv.app
/version.h
/mpvcore/input/input_conf.h
/tags
/TAGS
/video/out/gl_video_shaders.h
/video/out/vdpau_template.c
/demux/ebml_defs.c
/demux/ebml_types.h
/sub/osd_font.h
/DOCS/man/*/mpv.1

